@import '../../styles/mixins/pix-to-rem-mixin.mixin.scss';
.spinner {
    visibility: visible;
    height: pixToRemMixin(20);
    width: pixToRemMixin(20);
    border: pixToRemMixin(4) solid #f3f3f3;
    border-top: pixToRemMixin(4) solid #d1d1d1;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}