@import '../../../styles/mixins/pix-to-rem-mixin.mixin.scss';
@import '../../../styles/mixins/font-styles-mixin.mixin.scss';
@import '../../../styles/mixins/flex-mixin.mixin.scss';
.custom-input-component {
    @include fontStylesMixin('Ubuntu', 18, 250, #000);
    height: pixToRemMixin(60);
    width: pixToRemMixin(350);
    margin: pixToRemMixin(20) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20);
    padding-left: pixToRemMixin(10);
    border-radius: 2%;
    border: 1px solid gray;
    text-overflow: ellipsis;
    cursor: text;
    outline: none;
    box-sizing: border-box;
    // background-color: rgb(13, 137, 236);
    &:hover {
        // box-shadow: 0 pixToRemMixin(12) pixToRemMixin(35) 0 rgba(169, 215, 250, 0.753);
        border: pixToRemMixin(1) solid rgb(13, 137, 236);
        border-radius: 2%;
    }
    &:active {
        outline: none;
        box-shadow: pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(4) rgba(150, 205, 241, 0.74);
    }
    &:focus {
        box-shadow: pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(4) rgba(150, 205, 241, 0.74);
    }
    // &:invalid {
    //     border-color: red;
    // }
}

// .custom-input-component_red-border {
//     border-color: red;
// }
.input-wrapper {
    @include dFlexMixin(flex, column, center, center, false);
}

.error {
    @include fontStylesMixin('Ubuntu', 12, false, #000);
    visibility: hidden;
    height: pixToRemMixin(30);
    width: pixToRemMixin(350);
    padding-top: pixToRemMixin(10);
    padding-left: pixToRemMixin(10);
    border-bottom: 1px solid red;
    box-sizing: border-box;
    text-align: center;
    color: red;
}

.error_visible {
    visibility: visible;
}