@import '../../styles/mixins/pix-to-rem-mixin.mixin.scss';
@import '../../styles/mixins/font-styles-mixin.mixin.scss';
@import '../../styles/mixins/flex-mixin.mixin.scss';
.elements {
    @include fontStylesMixin('Ubuntu', 20, 400, #fff);
    height: pixToRemMixin(350);
    width: pixToRemMixin(600);
    border: pixToRemMixin(1) solid rgb(40, 120, 173);
    margin: pixToRemMixin(40) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20);
    color: #000;
    &:hover {
        border: pixToRemMixin(1) solid rgb(13, 137, 236);
        box-shadow: 0 pixToRemMixin(12) pixToRemMixin(35) 0 rgba(166, 213, 250, .2);
    }
}

.element {
    margin: pixToRemMixin(10) pixToRemMixin(0) pixToRemMixin(10) pixToRemMixin(0);
    color: #000;
    list-style-type: none;
}