@import './components/index.scss';
@import '../src/styles/components/spinner.component.scss';
#App {
    @include dFlexMixin(flex, column, center, center, false);
}

.widthBtn {
    width: pixToRemMixin(200);
}