@import './pix-to-rem-mixin.mixin.scss';
@mixin fontStylesMixin($family, $size, $weight, $color) {
    @if ($family) {
        font-family: $family;
    }
    @if($size) {
        font-size: pixToRemMixin($size);
    }
    @if($weight) {
        font-weight: $weight;
    }
    @if ($color) {
        color: $color;
    }
}