@import '../../../../styles/mixins/pix-to-rem-mixin.mixin.scss';
@import '../../../../styles/mixins/font-styles-mixin.mixin.scss';
@import '../../../../styles/mixins/flex-mixin.mixin.scss';
.custom-button-component {
    &.primary {
        @include fontStylesMixin('Ubuntu', 20, 400, #fff);
        @include dFlexMixin(inline-flex, false, center, center, center);
        height: pixToRemMixin(60);
        margin: pixToRemMixin(20) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20);
        transition: all 200ms linear;
        border-radius: pixToRemMixin(4);
        letter-spacing: pixToRemMixin(1);
        border: none;
        cursor: pointer;
        background-color: rgb(13, 137, 236);
        &:hover {
            box-shadow: 0 pixToRemMixin(12) pixToRemMixin(35) 0 rgba(166, 213, 250, .6);
        }
        &:active {
            background-color: rgb(13, 86, 146);
        }
    }
    &.outlined {
        @include fontStylesMixin('Ubuntu', 20, 400, #fff);
        @include dFlexMixin(inline-flex, false, center, center, center);
        height: pixToRemMixin(60);
        margin: pixToRemMixin(20) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(0);
        transition: all 200ms linear;
        border-radius: pixToRemMixin(4);
        letter-spacing: pixToRemMixin(1);
        border: pixToRemMixin(2) solid #0d88ec;
        cursor: pointer;
        background-color: #fff;
        color: rgb(13, 137, 236);
        &:hover {
            background-color: rgba(164, 205, 238, 0.226);
            box-shadow: 0 pixToRemMixin(12) pixToRemMixin(35) 0 rgba(166, 213, 250, .3);
        }
        &:active {
            background-color: rgba(144, 194, 235, 0.445);
        }
    }
    &.text {
        @include fontStylesMixin('Ubuntu', 20, 400, false);
        @include dFlexMixin(inline-flex, false, center, center, center);
        height: pixToRemMixin(60);
        margin: pixToRemMixin(20) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(0);
        transition: all 200ms linear;
        border-radius: pixToRemMixin(4);
        letter-spacing: pixToRemMixin(1);
        border: none;
        cursor: pointer;
        outline: 0;
        background-color: #fff;
        color: rgb(13, 137, 236);
        &:hover {
            color: rgb(13, 137, 236);
            background-color: rgba(174, 214, 247, 0.205);
        }
        &:active {
            background-color: rgba(126, 173, 212, 0.479);
        }
    }
}

.button-icon {
    @include dFlexMixin(flex, false, center, center, false);
    height: pixToRemMixin(22);
    width: pixToRemMixin(22);
    padding: pixToRemMixin(0) pixToRemMixin(5);
}